.WhoAmI {
    height: 100%;
    animation: init 1s forwards;
    overflow-y: auto;
    overflow-x: hidden;
}

.WhoAmI>.row>.myPhoto>img {
    width: min(70%, 20rem);
    min-width: 10rem;
    border-radius: 0.5rem;
}

.WhoAmI>.row>.btnsConatiner {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.WhoAmI>.row>.btnsConatiner>.btns {
    transition: all 0.2s;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.331);
}

.WhoAmI>.row>.btnsConatiner>.btns:hover {
    font-size: large;
    background-color: rgba(218, 218, 218, 0.331);
}