.Header {
    height: 100%;
    padding-left: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
}

/* .Header>h2 {
    grid-column: 2;
} */

.Header>a {
    grid-column: 1;
    justify-self: self-start;
    padding-left: 4rem;
}

.Header>a>img {
    transition: all 0.2s;
    width: min(9vw, 7rem);
    filter: invert() drop-shadow(0px 7px 3px #252525);
}

.Header>a>img:hover {
    transform: scale(1.1);
}

.Header>.darkModeContainer {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    grid-column: 3;
}

.Header>.darkModeContainer>button {
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.331);
    border: none;
    border-radius: 0.5rem;
}

.Header>.darkModeContainer>button:hover {
    background-color: rgba(255, 255, 255, 0.612);
}