.ContactMe {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.ContactMe>.row {
    margin-top: 1rem;
}

.ContactMe>.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.ContactMe>.row>.btnsContainer {
    display: flex;
    justify-content: right;
    align-items: center;
}

.ContactMe>.row>.btnsContainer>.btns {
    transition: all 0.2s;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.331);
}


.ContactMe>.row>.btnsContainer>.btns:hover {
    font-size: large;
    background-color: rgba(218, 218, 218, 0.331);
}

.ContactMe>.cardsContainer>.ContactCard:hover {
    background-color: antiquewhite;
    transform: scale(1.1);
    box-shadow: 1px 0px 23px 7px #ffffff;
}