html,
body,
#root {
    height: 100%;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@keyframes init {
    from {
        transform: translateY(1rem);
        opacity: 0;
    }

    to {
        transform: translateY(0rem);
        opacity: 100;
    }
}